@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  font-family: 'Muli';
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
  margin: 0px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  display: inline-block;
  color: #fff;
  font-weight: 200;
}

.app {
  display: inline;
}

.newPost {
  float: right;
}

.head h1 {
  display: block;
  text-align: center;
  color: black;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.uploadform {
  border-radius: 15px;
  background-color: white;
  color: orangered;
}

.uploadform {
  margin: 3px;
  padding-right: 15px;
  /*temporary-fix*/
}

.halfWidth {
  width: 45%;
}

.upload {
  float: right;
  margin-top: 5px;
}

.uploadIcon {
  margin: 0px;
  height: 25px;
  padding: 0px;
}

.title {
  margin: 5px
}

.post {
  display: inline-block;
  background-color: #fff;
  width: 25%;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.fileChooseBtn {
  border: 2px solid #AAA;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px;
  background: #DDD;
  display: inline-block;
}

.fileChooseBtn:hover {
  background: #CCC;
}

.fileChooseBtn:active {
  background: #CCF;
}

.fileChooseBtn :invalid+span {
  color: #A44;
}

.fileChooseBtn :valid+span {
  color: #4A4;
}
